@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900');

@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
    --yelp-red: #d32323;
    --yelp-red-dark: #af1d1d;
  }
  
  .bg-yelp-red {
    background-color: var(--yelp-red);
  }
  
  .hover\:bg-yelp-red-dark:hover {
    background-color: var(--yelp-red-dark);
  }
  
  .text-yelp-red {
    color: var(--yelp-red);
  }
  
  .fill-yelp-red {
    fill: var(--yelp-red);
  }
  
  .focus\:ring-yelp-red:focus {
    --tw-ring-color: var(--yelp-red);
  }
  
  
.mySwiper{
    height: 200px;
}

@media screen and (max-width: 500px){
    .whychoose{
        padding-top: 0px !important;
    }

    .navbar-logo{
      width: 70px !important;
    }

    .header-heading{
      font-size: 22px;
      width: 85%;
      margin: auto;
      margin-bottom: 20px;
    }

    .navbar-heading{
      font-size: 18px;
    }

    .header-para{
      font-size: 17px;
      line-height: 22px;
      width: 85%;
      margin: auto;
    }
}


.dateInput{
  display: none;
}


@media screen and (max-width: 500px){
  .hourly-media{
    width: 340px;
  }

  .dateContainer{
    display: none;
  }

  .dateInput{
    display: block;
  }

  .navbar-logo{
    width: 100px !important;
    height: auto;
  }

  .main-heading{
    margin-top: -40px;
    margin-bottom: 5px;
    text-align: center;
  }

  .main-para{
    margin-bottom: 5px;
    text-align: center;
  }

  .hero-btn{
    padding: 7px 20px;
  }

  .top-btn{
    width: 20px;
    height: 20px;
  }

  .hero-btn-section{
    display: none;
  }
}

.datePickerContainer {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.dateInput {
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  background-color: transparent;
}

.dateInput::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.placeholder {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #757575;
  pointer-events: none;
}

/* Hide the clear button in Edge */
.dateInput::-ms-clear {
  display: none;
}

/* Hide the reveal password button in Edge */
.dateInput::-ms-reveal {
  display: none;
}

/* Hide default placeholder */
.dateInput::placeholder {
  color: transparent;
}

.timeInput{
  display: none;
}


.timePickerContainer {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.timeInput {
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  background-color: transparent;
}

.timeInput::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

@media screen and (max-width: 500px) {
  .timeContainer {
    display: none;
  }

  .timeInput {
    display: block;
  }
}

/* Hide default placeholder for time input */
.timeInput::placeholder {
  color: transparent;
}

#formFrame{
  width: 100%;
}

.form-container{
  width: 50%;
}


@media screen and (max-width: 1023px) {
  .form-container{
    width: 100%;
  }
}